.content {
  max-height: 78vh;
  overflow: auto;
}

.win-text {
  color: var(--right);
}

.win-text.colorblind {
  color: var(--right-colorblind-01);
}

.lose-text {
  color: var(--wrong);
}

.lose-text.colorblind {
  color: var(--displaced-colorblind);
}