.letter-wrapper {
  flex-direction: column;
  border: 2px solid var(--color-04);
  background-color: var(--color-03);

  aspect-ratio : 1 / 1;

  height: 100%;

  font-size: 32px;
  font-weight: bolder;
}

.letter {
  width: 90%;
  text-align: center;
}

.letter-colorblind-right,
.letter-colorblind-displaced {
  padding-right: 10%;
}

.typing {
  border: 3px solid var(--color-04);
  background-color: var(--color-03);
  color: var(--color-02);
}

.disabled {
  border: 1px solid var(--color-02);
  background-color: var(--color-03);
  color: var(--color-02);
}

.wrong {
  border: 1px solid var(--color-02);
  background-color: var(--wrong);
  color: var(--color-01);
}

.wrong.colorblind {
  background-color: var(--wrong-colorblind);
}

.right {
  border: 1px solid var(--color-02);
  background-color: var(--right);
  color: var(--color-01);
}

.right.colorblind {
  flex-direction: row;
  background-color: var(--right-colorblind-01);
}

.right.colorblind::before {
  height: 100%;
  width: 10%;
  content: "";

  background-image: linear-gradient(45deg, white 13.64%, var(--right-colorblind-01) 13.64%, var(--right-colorblind-01) 50%, white 50%, white 63.64%, var(--right-colorblind-01) 63.64%, var(--right-colorblind-01) 100%);
  background-size: 15.56px 15.56px;
}

.displaced {
  border: 1px solid var(--color-02);
  background-color: var(--displaced);
  color: var(--color-01) !important;
}

.displaced.colorblind {
  flex-direction: row;
  background-color: var(--displaced-colorblind-01) !important;
}

.displaced.colorblind::before {
  height: 100%;
  width: 7px;
  content: "";

  background-image: url(https://a.trellocdn.com/prgb/dist/images/patterns/light/DotsChecker.a70142c225011e8d6c67.svg);
  background-size: 13px 13px;
}

.wordlistError {
  border: 3px solid var(--wrong);
  color: var(--color-02);
}

.wordlistError.colorblind {
  border: 3px solid var(--displaced-colorblind-01);
}

.letter-underline-active {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  border-bottom: 3px solid var(--color-02);
  border-radius: 1rem !important;

  align-self: end;
  margin-bottom: 2px;
}