.header {
  height: 5%;
}

.header-button {
  background-color: var(--color-01);
  border: solid 1px var(--color-02);

  font-size: 150%;
  padding: 5px;
}

.app-name {
  font-family: 'Acme', sans-serif;
  font-size: 270%;
}

.letter-green {
  color: var(--right);
}

.letter-green.colorblind {
  color: var(--right-colorblind-01);
}

.letter-red {
  color: var(--wrong);
}

.letter-red.colorblind {
  color: var(--wrong-colorblind);
}

.letter-yellow {
  color: var(--displaced);
}

.letter-yellow.colorblind {
  color: var(--displaced-colorblind-01);
}