.data-label {
  line-height: 1.25rem;
}

.graph-bar {
  background-color: var(--right);
  color: var(--color-01);
  font-weight: bolder;
}

.graph-bar.colorblind {
  background-color: var(--right-colorblind-01);
}